
@{
    ViewBag.Title = "UploadSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success" style="text-align:center"><b>200: Completed Successfully</b></h1>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:54789/';
}, 1500);
</script>
