@*@{
        ViewBag.Title = "Contact";
    }

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
    <link rel="stylesheet" href="~/Content/style.css" />

    <div class="row">
        <div class="col-md-2">
            <h3>Contributors</h3>
            <hr style="background-color:blue;height:1px;" align="center" />
            <ul style="list-style:none">
                <li>Aleksa Shahgoli</li>
                <li>Milos Spasojevic</li>
                <li>Nadica Zarkic</li>
                <li>Marko Filimonovic</li>
                <li>Stefan Filipovic</li>
            </ul>
        </div>

        <div class="col-md-1">
            <h3>Gmail</h3>
            <hr style="background-color:blue;height:1px;" />
            <ul style="list-style:none;">
                <li align="center">
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">
            <h3>GitHub</h3>
            <hr style="background-color:blue;height:1px;" />
            <ul style="list-style:none">
                <li align="center">
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">
            <h3>LinkedIn</h3>
            <hr style="background-color:blue;height:1px;" />
            <ul style="list-style:none">
                <li align="center">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li align="center">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/SocialMedia.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

<style>
    body {
        background-color: #D4F9FE;
    }
</style>

<h1 style="font-family:'Times New Roman', Times, serif">Contributors</h1>
<hr />
<ul style="list-style:none">
    <li>
        <h2 style="font-family:'Times New Roman', Times, serif">
            Aleksa Shahgoli
            <a class="btn" href="https://www.facebook.com/profile.php?id=100013148644347">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-google"></i>
            </a>
        </h2>
    </li>
    <li>
        <h2 style="font-family:'Times New Roman', Times, serif">
            Milos Spasojevic
            <a class="btn" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-google"></i>
            </a>
        </h2>
    </li>
    <li>
        <h2 style="font-family:'Times New Roman', Times, serif">
            Nadica Zarkic
            <a class="btn" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-google"></i>
            </a>
        </h2>
    </li>
    <li>
        <h2 style="font-family:'Times New Roman', Times, serif">
            Marko Filimonovic
            <a class="btn" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-google"></i>
            </a>
        </h2>
    </li>
    <li>
        <h2 style="font-family:'Times New Roman', Times, serif">
            Stefan Filipovic
            <a class="btn" href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn" href="#">
                <i class="fa fa-google"></i>
            </a>
        </h2>
    </li>
</ul>